<nav id="main">
  <div class="header">
    <strong>Meus Projetos</strong>
    <a href="/signout">Sair</a>
  </div>
  <div class="categories">
    <strong>PROJETOS</strong>

    <ul>
      {% for project in projects %}
        <li class="{% if project.id == activeProject %}active{% endif %}">
          <a href="/app/projects/{{ project.id }}">
            {{ project.title }}
            <span>{{ project.Sections.length }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>

    <a href="#" data-modal-open="#new-project">NOVO PROJETO</a>
    <form method="POST" action="/app/projects/{{ activeProject }}?_method=DELETE">
      <button type="submit" class="btn btn-danger">Remover Projeto selecionado</button>
    </form>
  </div>
</nav>

<div class="modal" id="new-project">
  <form class="modal-content" method="POST" action="/app/projects/create">
    <input type="text" name="title" placeholder="Título do Projeto">

    <button type="submit">SALVAR PROJETO</button>
    <a href="#" data-modal-close="#new-project">CANCELAR</a>
  </form>
</div>

