<section class="snippets-list">
  <div class="list-header">
    <a href="#" data-modal-open="#new-section">NOVA SEÇÂO</a>
  </div>
  {% for section in sections %}
    <a href="/app/projects/{{ activeProject }}/sections/{{ section.id }}">
      <strong>{{ section.title }}</strong>
      <p>{{ section.excerpt }}</p>
    </a>
  {% endfor %}
</section>

<div class="modal" id="new-section">
  <form class="modal-content" method="POST" action="/app/projects/{{ activeProject }}/sections/create">
    <input type="text" name="title" placeholder="Título da Seção">

    <div class="content-container">
      <textarea name="content" class="mde" placeholder="Conteúdo da Seção"></textarea>
    </div>

    <button type="submit">SALVAR SEÇÂO</button>
    <a href="#" data-modal-close="#new-section">CANCELAR</a>
  </form>
</div>
