<html>
    <head>
        <title>Desafio 1</title>
    </head>
    <body>
        <form action="/check" method="POST">
            <input type="text" name="name" />
            <input type="date" name="birth" />
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>
