{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="wrapper">
    {% include 'partials/nav.njk' %}
    {% include 'partials/sections.njk' %}

    <section class="snippet-content">
      <div class="actions">
        <a href="#" data-modal-open="#edit-section" class="edit">Editar</a>

        <form method="POST" action="/app/projects/{{ activeProject }}/sections/{{ currentSection.id }}?_method=DELETE">
          <button type="submit">Remover</button>
        </form>
      </div>

      <h1>{{ currentSection.title }}</h1>
      <div class="content">{{ currentSection.formattedContent | safe }}</div>
    </section>

    <div class="modal" id="edit-section">
      <form class="modal-content" method="POST" action="/app/projects/{{ activeProject }}/sections/{{ currentSection.id }}?_method=PUT">
        <input type="text" name="title" placeholder="Título da Seção" value="{{ currentSection.title }}">

        <div class="content-container">
          <textarea name="content" class="mde" placeholder="Conteúdo da Seção">{{ currentSection.content }}</textarea>
        </div>

        <button type="submit">SALVAR SEÇÂO</button>
        <a href="#" data-modal-close="#edit-section">CANCELAR</a>
      </form>
    </div>
  </div>
{% endblock %}
